name: Retrain Model
on:
  push:
    branches:
      - main
  schedule:
    - cron: '0 0 * * *'

jobs:
  retrain:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          # Pastikan path ini sesuai dengan folder utama proyek Anda
          pip install -r MLProject/requirements.txt
          pip install mlflow

      - name: Run model training
        # Perintah ini akan mencari file bernama 'MLProject' di dalam folder 'MLProject'
        run: mlflow run MLProject --experiment-name "Titanic_Prediction" --env-manager local
