name: Retrain Model

on:
  push:
    branches:
      - main
  schedule:
    - cron: '0 0 * * *'  # retrain setiap hari jam 00:00 UTC

jobs:
  retrain:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          pip install -r MLProject/requirements.txt
          pip install mlflow 

      - name: Run model training
        run: mlflow run MLProject --experiment-name "Titanic_Prediction" --env-manager local
